{% extends 'base.html' %}
{% block title %}Archive{% endblock %}

{% block nav_archive %}class="current"{% endblock %}

{% set total_posts = get_posts(limit=300, sort='desc') %}
{% set entries = group(total_posts, 'date:year', reverse=True) %}

{% block content %}
<ul class="archive-list">
  {% for year, posts in entries %}
  <li>
  <p class="year">{{ year }}</p>
  {% for post in posts %}
  <div class="post-set">
    <span class="date">{{ post.date | date("%b. %d") }}</span>
    <div class="post-link">
      {% if post.metadata.has_key('type') and post.metadata['type'] == 'refer' %}
      <a class="refer-link" href="{{ post.url }}#content-start"><span>[reference]</span>{{ post.title}}</a>
      {% else %}
      <a href="{{ post.url }}#content-start">{{ post.title}}</a>
      {% endif %}
    </div>
  </div>
  {% endfor %}
  </li>
  {% endfor %}
</ul>
{% endblock %}

