<!doctype html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{% block title %} {{site.title}} {% endblock %}</title>
    <link rel="shortcut icon" href="/template/image/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Enriqueta" type="text/css">
    <link rel="stylesheet" href="/template/style/main.css" type="text/css">
  </head>
  <body>
      <div class="header-wrap">
          <div class="header center-container">
              <a href="http://copri.me" class="logo" title="{{ site.title }}">{{ site.title or 'Doesn\'t matter.'}}</a>
              {% if has('posts') %}
              <ul class="nav">
                  <li>{</li>
                  <li>
                  <a href="/" {% block nav_index %}{% endblock %}>home,</a>
                  </li>
                  <li>
                  <a href="/archive" {% block nav_archive %}{% endblock %}>archive,</a>
                  </li>
                  <li>
                  <a href="/pages/links" {% if request.path == '/pages/links' %}class="current"{% endif %}>links,</a>
                  </li>
                  <li>
                  <a  href="/pages/about" {% if request.path == '/pages/about' %}class="current"{% endif %}>about</a>
                  </li>
                  <li>}</li>
              </ul>
              {% endif %}
          </div>
      </div>

    <div class="content-wrap" id="content-start">
      <div class="content center-container">
        {% block content %}
        {% endblock %}
      </div>
    </div>

    {% include 'include/footer.html' %}
  </body>
</html>
