<!doctype html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {{site.title}} {% endblock %}</title>
    <link rel="shortcut icon" href="/template/image/favicon.ico" type="image/x-icon">
    <script type="text/javascript" src="//use.typekit.net/yhi2eqj.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <link rel="stylesheet" href="/template/style/main.css" type="text/css">
    {% if site.ga %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '{{ site.ga_id }}', '{{ site.ga_domain }}');
    </script>
    {% endif %}
  </head>
  <body>
    <div class="header-wrap">
      <div class="header center-container">
        <a href="{{ site.title_link or '/' }}" class="logo" title="{{
          site.title }}">{{ site.title or 'site.title'}}</a>
      </div>
    </div>

    <div class="content-wrap" {% block content_id %}{% endblock %}>
      <div class="content center-container">
        {% block content %}
        {% endblock %}
      </div>
    </div>

    {% include 'include/footer.html' %}
  </body>
</html>
